@font-face {
    font-family: raleway400;
    src: url(../font/Raleway/raleway-regular400.ttf);
}

@font-face {
    font-family: raleway500;
    src: url(../font/Raleway/raleway-medium500.ttf);
}

@font-face {
    font-family: raleway600;
    src: url(../font/Raleway/raleway-semibold600.ttf);
}

@font-face {
    font-family: raleway800;
    src: url(../font/Raleway/raleway-extrabold800.ttf);
}

@font-face {
    font-family: monserrat300;
    src: url(../font/Montserrat/montserrat-light300.ttf)
}

body {
    width: 1920px;
    margin: 0 auto;
    padding: 0;
}

.header {
    background-color: #4f4d48;
    color: #fff;
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-menu {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 0;
    margin: 0 0 285px 0;
}

.header-logo {
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    font-size: 34px;
    letter-spacing: -1.36px;
    text-decoration: none;
    color: #fff;
    margin: 0 219px 0 0;
}

.header-logo:hover {
    color: #c7b299;
}

.header-logo:active {
    color: #736357;
}

.svg {
    fill: currentColor;
}

.header-menu-item-wrp {
    display: flex;
    align-items: center;
}

.header-menu-item-wrp a {
    text-decoration: none;
    color: #fff;
    margin: 0 29px 0 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    fill: #fff;
}

.header-menu-item-wrp a:nth-child(8) {
    margin-right: 63px
}

.header-menu-item-wrp a:last-child {
    margin: 0;
}

.header-menu-item-wrp a:hover {
    color: #c7b299;
}

.header-menu-item-wrp a:active {
    color: #736357;
}

.header-menu-item-wrp svg:hover {
    fill: #c7b299;
}

.header-menu-item-wrp svg:active {
    fill: #736357;
}

.header-carousel {
    padding: 0 150px 0 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn {
    display: block;
    min-width: 40px;
    min-height: 73px;
}

.carousel-btn-lf {
    margin: 94px 0 0 0;
    opacity: 0.5;
    fill: #fff;
    height: 73px;
}

.carousel-btn-lf:hover {
    opacity: 1;
    fill: #d3c1ad;
}
.carousel-btn-lf:active {
    opacity: 1;
    fill: #fff;
}
.carousel-content {
    margin: 0 470px 300px 475px;
    max-width: 589px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-h1 {
    margin: 0 0 14px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.carousel-content span:nth-child(2) {
    margin: 0 0 19px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    font-weight: 800;
    letter-spacing: normal;
}

.carousel-content p {
    margin: 0 0 52px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.carousel-content a {
    text-decoration: none;
    color: #fff;
    display: flex;
    width: 170px;
    min-height: 53px;
    border-radius: 3px;
    background-color: #998675;
    text-align: center;
    text-transform: uppercase;
    box-shadow: inset 0px -3px 0 0 #736357;
    box-sizing: border-box;
}

.carousel-content a:hover {
    background-color: #d3c1ad;
}

.carousel-content a:active {
    background-color: #6a5d51;
}

.text-btn {
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.64;
}

.carousel-btn-right {
    margin: 94px 0 0 0;
    opacity: 0.5;
    fill: #fff;
    height: 73px;
}

.carousel-btn-right:hover {
    fill: #d3c1ad;
    opacity: 1;
}
.carousel-btn-right:active {
    opacity: 1;
    fill: #fff;
}
.carusel-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 42px 0;
}

.carusel-pag-item {
    display: block;
    height: 11px;
    width: 11px;
    margin: 0 10px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #ffffff;
    box-sizing: border-box;
}

.carusel-pag-item:hover {
    border: solid 1.5px #d3c1ad;
    transform: scale(1.5);
    background-color: #29292c;
    opacity: 1;
}

.carusel-pag-item:active {
    border: solid 1.5px #d3c1ad;
    transform: scale(1.5);
    background-color: #ffffff;
    opacity: 0.7;
}

.item-active {
    border: solid 1.5px #d3c1ad;
    transform: scale(1.5);
    background-color: #29292c;
    opacity: 0.7;
}


/* Начало второго блока */

.Сapability-block {
    padding: 80px 0;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}

.Сapability-block-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 271px;
}

.Сapability-block-item:nth-child(2) {
    margin: 0 33px;
    padding: 9px 0 0 0;
}

.Сapability-block-item:nth-child(3) {
    margin-right: 34px;
    padding: 4px 0 0 0;
}

.Сapability-block-item:nth-child(4) {
    padding: 12px 0 0 0;
}

.Сapability-block-item:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}

.Сapability-block-icon {
    display: block;
    fill: #555555;
    margin: 0 0 29px 0;
}

.Сapability-block-item span {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #555555;
    margin: 0 0 19px 0;
}

.Сapability-block-item p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 1.71;
    color: #8c8c8c;
    margin: 0 0 30px 0;
}

.Сapability-block-item:hover .Сapability-block-icon {
    fill: #c7b299;
}

.Сapability-block-item:hover span {
    color: #c7b299;
}

.Сapability-block-item:hover:after {
    background-color: #c7b299;
}


/* начало третьего блока */

.idea-block {
    padding: 80px 0 0 0;
    box-sizing: border-box;
    background-color: #fbfaf8;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 700px;
    background-image: url(../img/browser-center.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.idea-block span {
    color: #555555;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 20px 0;
}

.idea-block p {
    margin: 0 auto;
    width: 44%;
    text-align: center;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
}


/*начало блока aside*/

.aside-block {
    box-sizing: border-box;
    padding: 50px 376px;
    display: flex;
    flex-flow: row;
    min-height: 150px;
    justify-content: space-between;
    background-image: linear-gradient(to top, #211b19, #4e3427);
}

.flex-item-wrp {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.aside-text-up {
    color: #fff;
    font-family: "raleway400", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.text-up-decor {
    color: #c7b299;
}

.aside-text-down {
    color: #615855;
    font-family: "monserrat300", sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-transform: capitalize;
}

.aside-btn {
    text-decoration: none;
    display: flex;
    width: 170px;
    height: 50px;
    background-color: #998675;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0 0 #736357;
    outline: none;
}

.aside-btn:hover {
    background-color: #c7b299;
}

.aside-btn:active {
    background-color: #826c58;
}

.aside-btn-text {
    color: #fff;
    font-family: "raleway800", sans-serif;
    line-height: 1.64;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
}


/*начало блока статей*/

.projects-block {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title {
    text-transform: capitalize;
    font-family: "raleway600";
    font-size: 30px;
    font-weight: 600;
    color: #555555;
}

.projects-text {
    font-family: "monserrat300";
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
    line-height: 1.75;
    margin: 24px auto 40px;
    text-align: center;
}

.navig-btn-wrp {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}

.navig-btn {
    min-width: 120px;
    min-height: 32px;
    border-radius: 3px;
    background-color: #fff;
    outline: none;
    margin: 0 10px 0 0;
    border: solid 1px #ebebeb;
    box-sizing: border-box;
    padding: 0;
    font-family: "monserrat300";
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    line-height: 1.5;
    text-transform: capitalize;
}

.navig-btn:nth-child(1) {
    min-width: 70px
}

.navig-btn:nth-child(5) {
    margin: 0;
    min-width: 135px
}

.active-btn {
    background-color: #998675;
    border: solid 1px #998675;
    color: #fff;
}

.navig-btn:hover {
    color: #fff;
    background-color: #998675;
    border: solid 1px #998675;
}

.navig-btn:active {
    color: #fff;
    background-color: #826c58;
    border: solid 1px #fff;
}

.article-wrp {
    display: flex;
    margin-bottom: 30px;
}

.article-item {
    display: flex;
    flex-direction: column;
    width: 370px;
    min-height: 337px;
    background-color: #fbfaf8;
    position: relative;
}

.article-item:hover {
    background-color: #362f2d;
}

.article-item:hover img {
    opacity: 0.3;
}

.article-item:hover .article-item-text-up {
    color: #fff;
}

.article-item:hover .article-item-text-down {
    color: #c7b299;
}

.article-item:hover a {
    opacity: 1;
}

.article-item:nth-child(2) {
    margin: 0 30px
}

.article-item-text-up {
    margin: 28px 0 8px 28px;
    font-family: "raleway500";
    font-size: 20px;
    font-weight: 500;
    color: #c7b299;
    text-transform: capitalize;
}

.article-item-text-down {
    margin-left: 28px;
    font-family: "monserrat300";
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    color: #d1d1d1;
    text-transform: capitalize;
}

.hover-link {
    position: absolute;
    width: 26px;
    height: 26px;
    fill: #fff;
    top: 106px;
    left: 144px;
    min-height: 26px;
    opacity: 0;
}

.hover-link:hover {
    fill: #c7b299;
}

.hover-link:active {
    fill: #736357;
}

.hover-search {
    position: absolute;
    width: 26px;
    height: 25px;
    fill: #fff;
    top: 106px;
    left: 198px;
    min-height: 26px;
    opacity: 0;
}

.hover-search:hover {
    fill: #c7b299;
}

.hover-search:active {
    fill: #736357;
}

.load-more-btn {
    margin-top: 10px;
    width: 170px;
    min-height: 50px;
    border-radius: 3px;
    border: none;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    outline: none;
    color: #ffffff;
}

.load-more-btn-txt {
    font-family: "raleway800";
    font-size: 14px;
    font-weight: 800;
    line-height: 1.64;
    text-transform: uppercase;
}

.load-more-btn:hover {
    color: #fff;
    background-color: #c7b299;
    border: solid 1px #c7b299;
}

.load-more-btn:active {
    color: #fff;
    background-color: #736357;
    border: solid 1px #fff;
}